{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "env": {
    "webpack": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "debug": false
          }
        ],
        "stage-0",
        "@babel/react",
        "@babel/jest"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/transform-modules-commonjs"
      ]
    },
    "build": {
      "presets": [
        "@babel/react",
        "@babel/env"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "gh-pages": {
      "presets": [
         "@babel/env",
         "@babel/react"
      ],
      "plugins": [
        ["@babel/plugin-transform-builtin-extend", {
            "globals": ["Error", "Array"]
        }],
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
