{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["external-helpers"],
  "env": {
    "webpack": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react",
        "stage-0"
      ],
      "plugins": ["transform-runtime", "react-hot-loader/babel"]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "debug": false
          }
        ],
        "es2015",
        "stage-0",
        "react",
        "jest"
      ],
      "plugins": [
        "transform-runtime",
        "transform-es2015-modules-commonjs"
      ]
    },
    "gh-pages": {
      "presets": [
         "env",
         "stage-0",
         "react"
      ],
      "plugins": [
        ["babel-plugin-transform-builtin-extend", {
            "globals": ["Error", "Array"]
        }],
        "transform-runtime"
      ]
    }
  }
}
