# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/node_modules

# testing
**/coverage

# production
**/build
**/lib
**/dist
**/module
**/build/**/*
**/lib/**/*
**/dist/**/*
**/module/**/*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# .yarnrc
**/npm-packages-offline-cache

src/styles/main.css
/.vscode
/tmp
**/flow-typed
storybook-static
packages/**/.flowconfig

# rollup-typescript-cache
.rpt2_cache
