.ql-color-label {
  stroke: red;
}
.ql-transparent {
  opacity: 0.2;
}
.ql-thin {
  stroke-width: 0.5;
}

:not(.colored-icon) {
  .ql-stroke {
    stroke: #000;
    fill: transparent;
  }
  .ql-stroke-mitter {
    stroke: #000;
    fill: transparent;
  }
  .ql-fill {
    fill: #000;
  }
  .ql-even {
    stroke: #000;
    fill: #fff;
  }
  .ql-thin {
    stroke: #000;
    fill: transparent;
  }
}

.colored-icon {
  .ql-stroke {
    stroke: inherit;
    fill: transparent;
    stroke-width: 2;
  }
  .ql-stroke-mitter {
    stroke: inherit;
    fill: transparent;
    stroke-width: 2;
  }
  .ql-fill {
    fill: inherit;
  }
  .ql-even {
    stroke: inherit;
    fill: inherit;
  }
  .ql-thin {
    stroke: inherit;
    fill: inherit;
    stroke-width: 1;
  }
}

.btn-icon--disabled {
  .ql-stroke {
    stroke: rgba(0, 0, 0, 0.23)!important;
  }
  .ql-stroke-mitter {
    stroke: rgba(0, 0, 0, 0.23)!important;
  }
  .ql-fill {
    fill: rgba(0, 0, 0, 0.23)!important;
  }
  .ql-even {
    stroke: rgba(0, 0, 0, 0.23)!important;
    fill: #fff!important;
  }
  .ql-thin {
    stroke: rgba(0, 0, 0, 0.23)!important;
  }
  .ql-color-label {
    stroke: rgba(0, 0, 0, 0.23)!important;
  }
}

.btn-icon--active {
  .ql-fill {
    fill: blue;
  }
  .ql-stroke {
    stroke: blue;
    stroke-width: 2;
  }
  .ql-stroke-mitter {
    stroke: blue;
    stroke-width: 2;
  }
  .ql-thin {
    stroke: blue;
    stroke-width: 1;
  }
}

.slate-read-only * {
  caret-color: transparent;
  color : transparent;
  text-shadow : 0 0 0 #000;
}
.editorContainer {
  font-size: 16px;
  line-height: 1.625;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  blockquote,
  dl {
    max-width: 800px;
    min-width: 360px;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    line-height: inherit;
    display: block;
  }
  $indentation-level: 8;
  $indentation-padding: 27;
  $list-padding: 1.5em;
  $ul-types: "\25CF", "\25CB", "\25A0";
  $ol-types: decimal, lower-alpha, lower-roman;

  ul, ol {
    line-height: initial;
    li {
      position: relative;
      padding-left: $list-padding;
      span {
        line-height: 1.625;
      }
    }
    li::before {
      font-size: 1em;
      user-select: all;
      text-align: right;
      display: inline-block;
      width: 1em;
      cursor: text;
    }
  }

  ol.list-reset:not(.indented) {
    counter-reset: ol var(--start-at, 1);
  }

  ul {
    list-style-type: none;
    li {
      text-indent: -1.625em;
    }
    li::before {
      content: nth($ul-types, 1);
      margin-right: 0.875em;
      font-size: 0.875em;
    }
  }

  ol {
    list-style-type: none;
    li {
      text-indent: -1.5em;
    }
    li::before {
      margin-right: 0.5em;
      content: counter(ol, nth($ol-types, 1)) ". ";
    }
    li::after {
      content: " ";
      counter-increment: ol;
    }
  }

  ul.checkList {
    li {
      text-indent: -1.5em;
    }
    li::before {
      font-size: 1em;
      display: inline-block;
      margin-right: 0.5em;
      width: 1em;
      background-repeat: no-repeat;
      content: ' ';
      user-select: none;
      text-align: right;
      background-size: 1em 1em;
      background-position: right;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAADpJREFUKFO1yqERwDAAxLDsv3QKLPplEfT5vHR/maINpmiDKdpgijaYog2maIMp2mCKNpiiDaYHzvkAci8q5Gg0BsgAAAAASUVORK5CYII=);
    }
  }

  .checkList.checked {
    text-decoration: line-through;
    li::before {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAEpJREFUKFO1ykEOwCAMxMD8/9Mtqq1ogXJkTsFL3fSc+aOZN87JZdYTh9hSdm6R2hJ5yvY5Fdn+/g1EZeJOdPWbbcE0cdk4X1D1AhcH8g67+AATAAAAAElFTkSuQmCC);
    }
  }

  @for $i from 1 through $indentation-level {
    .indentation-#{$i}:not(ul):not(ol) {
      padding-left: #{$i*$indentation-padding + 45}px;
    }
    ol.indentation-#{$i}, ul.indentation-#{$i} {
      li {
        padding-left: calc(#{$i*$indentation-padding}px + #{$list-padding});
      }
    }
    ul.indentation-#{$i}:not(.checkList) {
      li::before {
        content: nth($ul-types, ($i)%length($ul-types)+1);
      }
    }
    ol.indentation-#{$i} {
      li::before {
        content: counter(ol-#{$i}, nth($ol-types, ($i)%length($ol-types)+1)) ". ";
      }
      li::after {
        content: " ";
        counter-increment: ol-#{$i};
      }
    }
    ol.list-reset-#{$i} {
      counter-reset: ol-#{$i} var(--start-at, 1);
    }
  }
}
