.ql-color-label {
  stroke: red;
}
.ql-transparent {
  opacity: 0.2;
}
.ql-thin {
  stroke-width: 0.5;
}

:not(.colored-icon) {
  .ql-stroke {
    stroke: #000;
    fill: transparent;
  }
  .ql-stroke-mitter {
    stroke: #000;
    fill: transparent;
  }
  .ql-fill {
    fill: #000;
  }
  .ql-even {
    stroke: #000;
    fill: #fff;
  }
  .ql-thin {
    stroke: #000;
    fill: transparent;
  }
}

.colored-icon {
  .ql-stroke {
    stroke: inherit;
    fill: transparent;
    stroke-width: 2;
  }
  .ql-stroke-mitter {
    stroke: inherit;
    fill: transparent;
    stroke-width: 2;
  }
  .ql-fill {
    fill: inherit;
  }
  .ql-even {
    stroke: inherit;
    fill: inherit;
  }
  .ql-thin {
    stroke: inherit;
    fill: inherit;
    stroke-width: 1;
  }
}

.btn-icon--disabled {
  .ql-stroke {
    stroke: rgba(0, 0, 0, 0.23)!important;
  }
  .ql-stroke-mitter {
    stroke: rgba(0, 0, 0, 0.23)!important;
  }
  .ql-fill {
    fill: rgba(0, 0, 0, 0.23)!important;
  }
  .ql-even {
    stroke: rgba(0, 0, 0, 0.23)!important;
    fill: #fff!important;
  }
  .ql-thin {
    stroke: rgba(0, 0, 0, 0.23)!important;
  }
  .ql-color-label {
    stroke: rgba(0, 0, 0, 0.23)!important;
  }
}

.btn-icon--active {
  .ql-fill {
    fill: blue;
  }
  .ql-stroke {
    stroke: blue;
    stroke-width: 2;
  }
  .ql-stroke-mitter {
    stroke: blue;
    stroke-width: 2;
  }
  .ql-thin {
    stroke: blue;
    stroke-width: 1;
  }
}

.slate-read-only * {
  caret-color: transparent;
  color : transparent;
  text-shadow : 0 0 0 #000;
}

$indentation-level: 8;
$indentation-padding: 99;
$list-padding: 3em;
$ul-types: disc, circle, square;
$ol-types: decimal, lower-alpha, lower-roman;

ul, ol {
  padding-left: $list-padding;
  li {
    position: relative;
  }
  li::before {
    user-select: all;
    position: absolute;
    text-align: right;
    display: inline-block;
    width: 3em;
    left: -3em;
  }
}

ol.list-reset:not(.indented) {
  counter-reset: ol var(--start-at, 0);
}

ul {
  list-style-type: none;
  counter-increment: ul;
  li::before {
    content: counter(ul, nth($ul-types, 1)) "  ";
  }
}

ol {
  list-style-type: none;
  counter-increment: ol;
  li::before {
    content: counter(ol, nth($ol-types, 1)) ". ";
  }
}

.checkList {
  padding-left: $list-padding;
  .checkbox {
    position: absolute;
    display: inline-block;
    width: 3em;
    height: 1em;
    left: 0;
    background-repeat: no-repeat;
    content: ' ';
    user-select: none;
    text-align: right;
    background-size: 1em 1em;
    background-position: right;
  }
  .checkbox {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAADpJREFUKFO1yqERwDAAxLDsv3QKLPplEfT5vHR/maINpmiDKdpgijaYog2maIMp2mCKNpiiDaYHzvkAci8q5Gg0BsgAAAAASUVORK5CYII=);
  }
}

.checkList.checked {
  text-decoration: line-through;
  .checkbox {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAEpJREFUKFO1ykEOwCAMxMD8/9Mtqq1ogXJkTsFL3fSc+aOZN87JZdYTh9hSdm6R2hJ5yvY5Fdn+/g1EZeJOdPWbbcE0cdk4X1D1AhcH8g67+AATAAAAAElFTkSuQmCC);
  }
}

@for $i from 1 through $indentation-level {
  .indentation-#{$i}:not(ul):not(ol) {
    padding-left: #{$i*$indentation-padding}px;
  }
  ul.indentation-#{$i}, ol.indentation-#{$i}, .checkList.indentation-#{$i} {
    padding-left: calc(#{$i*$indentation-padding}px + #{$list-padding});
    .checkbox {
      padding-left: calc(#{$i*$indentation-padding}px);
    }
  }
  ul.indentation-#{$i} {
    counter-increment: ul-#{$i};
    li::before {
      content: counter(ul-#{$i}, nth($ul-types, ($i)%length($ul-types)+1)) "  ";
    }
  }
  ol.indentation-#{$i} {
    counter-increment: ol-#{$i};
    li::before {
      content: counter(ol-#{$i}, nth($ol-types, ($i)%length($ol-types)+1)) ". ";
    }
  }
  ol.list-reset-#{$i} {
    counter-reset: ol-#{$i} var(--start-at, 0);
  }
}
